<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <link rel="stylesheet" href="/public/main.css">

  <title>Hello, world!</title>
</head>

<body>



  <%- include('navbar.html') %>

    <div class="container p-4 detail">
      <p id="currentUser" data-myid="<%= user._id %>">current user: <%= user._id %>
      </p>

      <!-- Left:chatroom list -->
      <div class="row">
        <div class="col-3">
          <ul class="list-group chat-list">
            <% for (let i=0; i< data.length; i++){ %>
              <li class="list-group-item" data-id="<%= data[i]._id %>" id="<%= data[i]._id %>">
                <h6>
                  <%= data[i].title %>
                </h6>
                <h6 class="text-small" id="date">
                  <%= data[i].latestDate %>
                </h6>
                <h6 class="text-small">
                  author: <%= data[i].authorName %>
                </h6>
              </li>
              <% } %>
          </ul>
        </div>

        <!-- display chat messages -->
        <div class="col-9 p-0">
          <div class="chat-room">
            <ul class="list-group chat-content">
            </ul>

            <!-- send your messages -->
            <div class="input-group">
              <input class="form-control" id="chat-input">
              <button class="btn btn-secondary" id="send">send</button>
            </div>
          </div>
        </div>
      </div>

    </div>


    <script>

      function changeToDisplayDate(date) {
        result =
          date.getFullYear() + '-' +
          (date.getMonth() + 1) + '-' +
          date.getDate() + ' ' +
          date.getHours() + ':' +
          date.getMinutes()
        return result
      }

      var currentChatRoom;
      var eventSource;
      let myId = document.getElementById('currentUser').dataset.myid;
      console.log(currentUser)

      // change the date to the displayDate
      // i think it should use roop....???
      $('#date').each(function () {
        var date = $('#date').html();
        $(this).html(changeToDisplayDate(new Date(date)));
      })


      $('.list-group-item').click(function (e) {
        currentChatRoom = this.dataset.id;
        console.log(currentChatRoom)
        $('.list-group-item').removeClass('chatroom-active')
        $(this).addClass('chatroom-active')
        $('.chat-content').html('');

        if (eventSource != undefined) {
          eventSource.close()
        }

        eventSource = new EventSource('/message/' + currentChatRoom)
        eventSource.addEventListener('test', function (e) {
          console.log(JSON.parse(e.data));
          var msData = JSON.parse(e.data);
          msData.forEach(function (i) {
            var displayTime = changeToDisplayDate(new Date(i.date))
            if (i.userid == myId) {
              $('.chat-content').append(

                '<li><span class="chat-box mine">' + i.content + '</span><span class="chat-date mine text-small">' + displayTime + '</span></li>')
            } else {
              $('.chat-content').append(
                '<li><span class="chat-box">' + i.content + '</span><span class="chat-date text-small">' + displayTime + '</span></li>')
            }

          });
          //scrolldown when the message fetched
          $('.chat-content').scrollTop(document.body.scrollHeight)
        })
      })

      $('#send').click(function () {
        var messageData = {
          parent: currentChatRoom,
          content: $('#chat-input').val(),
        }
        $('#chat-input').val("")

        //sending message must be more than 0 character
        if (messageData.content.length > 0 && messageData.content.length < 9999) {
          $.post('/message', messageData).then(() => {
            console.log('send done')
          })
        } else {
          console.log('please write your message')
          return
        }
      })



    </script>


</body>

</html>