<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    

    <%- include('navbar.html') %>
  
      <h4 class="text-center ml-2 my-3">list</h4>

      <div class="container input-group mb-2">
        <input class="form-control" id="search-input" placeholder="please enter your search">
        <button class="input-group-append btn btn-danger" id="search">Search</button>
      </div>

      
      
      <div class="container">
      <ul class="list-group">
        <% for (var i = 0; i < posts.length; i++ ){ %>
        <li class="list-group-item">
          <p>No. <%= posts[i]._id %></p>
        <h4 id="productTitle" data-title="<%= posts[i].title %>">Product:<%= posts[i].title %> </h4>
        <p id="author">author: <%= posts[i].author %> </p>
        <p>Content: <%= posts[i].date %> </p>
        <p>Upload: <%= posts[i].uploadDate%></p>
        <button class="delete btn btn-danger" data-id="<%= posts[i]._id %>">Delete</button>
        <button class="edit btn btn-secondary" data-id="<%= posts[i]._id %>">Edit</button>
        <button class="chat btn btn-secondary" data-id="<%= posts[i].author %>">Chat</button>
      </li>
      <% }; %>
      </ul>
    </div>

     

      <script>
        $('#search').click(function(){
          var searchInput = $('#search-input').val()
          window.location.replace('/search?value=' + searchInput )
        })


        $('.delete').click(function(e){
          console.log(e.target.dataset.id)
          var nowpushing = $(this);

          $.ajax({
          method: 'DELETE',
          url: '/delete',
          data: {_id : e.target.dataset.id},
          }).done(function(result){
            console.log('success')
            nowpushing.parent('li').fadeOut();

        }).fail(function(xhr, textStatus, errorThrown){
          console.log(xhr, textStatus, errorThrown)
        })
        });


        $('.chat').click(function(e){
          var id = e.target.dataset.id;

          var data = {
            authorId : e.target.dataset.id,
            title: $('#productTitle').data('title'),
          }
          console.log(data)

          $.post('/chat', { data : data }).then(()=> {
            console.log('done')
          })
        });

        // $('.edit').click(function(e){
        //   var id = e.target.dataset.id;
        //   $.get('/edit/:id' , { id : id }).then(()=> {
        //     console.log('editiing')
        //   })
        // });

 


      </script>



  </body>
</html>